https.port=

app.client_id=
app.client_secret=

app.autodiscovery.name=
app.autodiscovery.version=

keystore.path=
keystore.password=

api.customer360.host=
api.customer360.port=

api.sfdc.account.host=
api.sfdc.account.port=

api.order.host=
api.order.port=
